
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://whvn.cc/9dw781");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide-up {
  animation: slideUp 0.5s ease-in-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%) ;
  }
  100% {
    transform: translateY(0) ;
  }
}
