<div>
  <mat-card class="example-card">
    <mat-card-header>
      <div>
        <img mat-card-sm-image [src]="heroesImage" />
      </div>
    </mat-card-header>

    <mat-card-content>
      <h1>{{ heroesName }}</h1>
      <p>
        {{ heroesInfo }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [href]="heroesUrl">OPEN</a>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-card>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> About </mat-panel-title>
            <mat-panel-description>
              Click for more information
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{ heroesAbout }}</p>
        </mat-expansion-panel>
      </mat-card>
    </mat-card-footer>
  </mat-card>
</div>
